@media screen and (max-width: 960px) {
  .why_section .whys .col {
    width: 100%;
  }
}

@media screen and (max-width: 1020px) {
  .parts {
    .part {
      width: 100%;
      min-width: 0px;
      .texts {
        p {
          width: fit-content;
        }
      }
    }
  }
}
@media screen and (max-width: 881px) {
  footer .top .right {
    margin-top: 20px;
  }
}

@media screen and (max-width: 900px) {
  nav {
    .right {
      overflow: hidden;
      padding: 0 20px;
      position: fixed;
      top: 70px;
      left: 0;
      z-index: 99;
      background: $black;
      flex-direction: column;
      height: max-content;
      align-items: flex-start;
      .l,
      .r {
        flex-direction: column;
        height: max-content;
        align-items: flex-start;
      }
      .l .drop {
        margin: 15px 0;
      }
      .r {
        h4.button,
        .but3 {
          margin: 15px 0;
        }
      }
    }
  }
  .home {
    .f {
      #banner1 {
        max-width: none;
      }
    }
  }
}

@media screen and (max-width: 1020px) {
  .parts {
    padding: 0 20px;
  }
}
@media screen and (max-width: 1200px) {
  .home {
    padding: 30px 0;
    .border #banner2 {
      * {
        width: fit-content;
      }
      .buts {
        .button.but3_1,
        .button.but1 {
          margin-right: 20px;
        }
      }
    }
  }
  .padding {
    padding: 10px 30px;
  }
}

@media screen and (max-width: 768px) {
  .home {
    .us,
    .mockups,
    .tt {
      margin-top: 30px;
    }
  }
}
@media screen and (max-width: 450px) {
  .home {
    .f .h2 {
      margin-top: 0;
      font-size: 30px;
    }
  }
}

@media screen and (max-width: 750px) {
  .home {
    .border #banner2 .buts {
      width: 100%;
      flex-direction: column;
      .button {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 1030px) {
  nav .hamb {
    display: flex;
  }
  aside {
    max-width: 0;
  }
  .page {
    padding: 0;
    padding-top: 90px;
    .content {
      padding: 2rem;
    }
  }
}

@media screen and (max-width:700px) {
  nav{
    padding: 0 20px;
    justify-content: flex-start;
    .logo{
      margin-left: 20px;
    }
    .search{
      display: none;
    }
  }
}